<div class="main_page_class">
  <div class="home">
    <app-navbar [value] = 2></app-navbar>
   <div class="brand_name">
       <div class="brand_name_welcome">make a </div>
       <div class="brand_name_contain_name">RESERVATION</div>
       <div class="line"></div>
       <div class="brand_name_contain_name2">Booking a table online is easy and takes just a couple of minutes.</div>
    </div>
   </div>
   <!--****************************************************-->
<div class="reservation_data">
     <div class="res_titel">MAKE ONLINE RESERVATION</div>
     <div class="res_title2">POWERED BY OPENTABLE</div>
</div>
<div class="date_time">
    <div class="row">
            <div class="col-1"></div>
             <div class="col-2">
               <mat-form-field class="date_picker">
                 <input matInput [matDatepicker]="picker1" placeholder="Angular forms" [formControl]="date">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
             </div>
             <div class="col-2">
                 <select class="form-control time_picker" id="exampleFormControlSelect1" name="stateName">
                     <option value="11:00am">11:00am</option>
                     <option value="12:00pm">12:00pm</option>
                     <option value="1:00pm">1:00pm</option>
                     <option value="2:00pm">2:00pm</option>
                     <option value="3:00pm">3:00pm</option>
                     <option value="4:00pm">4:00pm</option>
                     <option value="5:00pm">5:00pm</option>
                     <option value="6:00pm">6:00pm</option>
                     <option value="7:00pm">7:00pm</option>
                     <option value="8:00pm">8:00pm</option>
                     <option value="9:00pm">9:00pm</option>
                     <option value="10:00pm">10:00pm</option>
                  </select>
             </div>
             <div class="col-2">
                  <select class="form-control time_picker2" id="exampleFormControlSelect1" name="stateName">
                     <option value="2">2 People</option>
                     <option value="3">3 People</option>
                     <option value="4">4 People</option>
                     <option value="5">5 People</option>
                     <option value="6">6 People</option>
                     <option value="7">7 People</option>
                     <option value="8">8 People</option>
                     <option value="9">9 People</option>
                     <option value="10">10 People</option>
                  </select>
             </div>
             <div class="col-2">
               <div class="input-group mb-3 ">
                  <input type="number" class="form-control mobile_number" placeholder="Enter Mobile Number" maxlength="10" pattern="[1-9]{1}[0-9]{9}">
              </div>
             </div>
         </div>
         <div>
           <button type="button" class="btn btn-dark table_book">FIND A TABLE</button>
         </div>
</div>


<!--****************************************************-->

<div class="res_info">
   <div class="row">
     <div class="col-6">
       <div class="res_phone">RESERVE BY PHONE</div>
       <div class="res_phone_1">We take reservations for lunch and dinner. To make a reservation, please call us at (027) 8338 145 between 10am-6pm, Monday to Friday.</div>
       <div class="res_phone_1"> We do not book the bar area – we leave this for walk-in guests to ensure that we always offer some tables for those who have not booked.</div>
     </div>
     <div class="col-6">
       <div class="res_phone">RESERVE BY PHONE</div>
       <div class="res_phone_1"> Whatever your event or celebration, we are here to make your special day a truly memorable one. Rosa’s private dining experts are more than happy to create custom floral arrangements and arrange for guests to meet Chef Moise during the course of their meal. For parties of 8-12 we have the roastery table which is available for private hire.</div>
     </div>
   </div>
</div>

<!--****************************************************-->

<!--****************************************************-->
<div class="article_contain">
     <div class="row">
       <div class="col-6">
         <div class="story">
         <div class="story_1"> the private</div>
         <div class="story_2">MEZZANINE</div>
         <div class="story_3">Heaven’s 50 seat room, “The Meazzanine Room” features a temperature-controlled wine cellar, displays of more wine and a private atmosphere. A semi-private room, “Barbaresco,” is available for meetings, birthdays and other occasions.</div>
         <div class="story_4"><a>Seat up to 50 guests</a></div>
         
         </div>
       </div>
       <div class="col-6">
         <div class="vertical_image1_0"></div>
         <div class="vertical_image2_0"></div>
       </div>
     </div>
   </div>

<!--****************************************************-->
<div class="article_contain">
     <div class="row">
       <div class="col-6">
         <div class="vertical_image1_0_2"></div>
       </div>
       <div class="col-6">
         <div class="story">
         <div class="story_1"> cuthe dining</div>
         <div class="story_2">CROWN</div>
         <div class="story_3">Overlooking the dining room and open kitchen, can seat up to 75 guests or a standing reception of 130 guests. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</div>
         <div class="story_4"><a>Seat up to 75 guests</a></div>
                  </div>
       </div>
     </div>
   </div>
<!--****************************************************-->
    <div class="champagne">
        <div class="champagne_title">CHAMPAGNE ON US</div>
        <div class="hampagne_text">Every Monday, Tuesday and Wednesday evening, we’re offering groups of 10 or more that book an area in our bar a complimentary bottle of Champagne.
Call our reservations team on (027) 8338 145 for more information.</div>
     </div> 
<!--****************************************************-->
  <app-footer></app-footer>
<!--****************************************************-->
 
</div>