.main_page_class {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  
}

.home {
  height: 625px;
  width: 100%;
  background-image: url('https://2.bp.blogspot.com/-BR2vy0vwC_o/W-60mTttG4I/AAAAAAAAAIw/r0SCy01_-X4BaREz6em_AFMzQDTMUciFQCLcBGAs/s1600/DSC_0289-02.jpeg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}



.brand_name {
    height: 450px;
    margin-left: 30px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .brand_name_welcome {
    font-family: 'Herr Von Muellerhoff', cursive;
    font-weight: normal;
    font-size: 100px;
    color: #ffff66;
    margin-top: 140px;
    opacity: 5;
    animation-name: moveit1;
    animation-duration: 1s;
    position: relative;
    
  }

  .brand_name_contain_name {
      letter-spacing: 9.4px;
      color: white;
      font-weight: 900;
      font-size: 47px;
      margin-top: -60px;
       opacity: 5;
      animation-name: moveit;
      animation-duration: 1s;
      position: relative;
  }

  .line {
     border-bottom: 1px solid whitesmoke;
     width: 230px;
     opacity: 5;
      animation-name: moveit2;
      animation-duration: 1s;
      position: relative;
   }

   .brand_name_contain_name2 {
      letter-spacing: 4.85px;
      color: white;
      font-weight: 400;
      font-size: 15px;
      margin-top: 5px;
      opacity: 5;
      animation-name: moveit3;
      animation-duration: 1s;
      position: relative;
  }

  exbtn button {
   font-size: 12px;
   letter-spacing: 2.4px;
   margin-top: 5px;
  }
  .article_contain {
    height: 430px;
    padding-top: 78px;
    padding-bottom: 78px;
  }

  .vertical_image1 {
    background-image: url('https://images.pexels.com/photos/256318/pexels-photo-256318.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-position: center;
    width: 40%;
    height: 100%;
    display: inline-block;
    margin-left: 25px;
    background-size: cover;
  }
  .vertical_image2 {
    background-image: url('https://images.pexels.com/photos/54453/spice-chiles-paprika-chili-54453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-position: center;
    width: 40%;
    height: 100%;
    display: inline-block;
    margin-left: 15px;
    background-size: cover;
  }
    .story {
    text-align: center;
      }

   .story_1 {
     font-family: 'Dancing Script', cursive;
     color: rgb(197, 157, 95);
     font-size: 100px;
     font-weight: 400;
   }
   .story_2 {
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 47px;
     font-weight: 900;
     letter-spacing: 9.4px;
     position: relative;
     z-index: 1;
     bottom: 50px;
   }
   .story_3 {
     font-family: cabin;
     font-size: 16px;
     font-weight: 400;
     margin-top: -35px;
     padding-left: 30px;
     padding-right: 30px;
   }

   .story_4 {
     margin-top: 20px;
   }
   .story_4 a{
     cursor: pointer;
     color: rgb(197, 157, 95);
     font-family: cabin;
     font-size: 15px;

   }

   .story_5 {
     color: rgb(197, 157, 95);
     border-bottom: 2px solid rgb(197, 157, 95);
     width: 83px;
     align-self: center;
     margin-left: 285px;
   }

   .three_img {
  background-image: url('https://image.shutterstock.com/z/stock-photo-indian-maharashtrian-festival-food-for-holi-puranpoli-sweet-roti-gulpoli-made-of-jaggery-and-wheat-1328317103.jpg');
    width: 100%;
    height: 360px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
   }

   .three_img_block_text_1 {
     color: rgb(197, 157, 95);
     font-size: 100px;
     font-family: 'Dancing Script', cursive;
     
   }

   .three_img_block_text_2 {
     font-size: 47px;
     color: white;
     font-family: 'Roboto, "Helvetica Neue", sans-serif';
     font-weight: 900;
     letter-spacing: 9.4px;
     margin-top: -30px;
   }

   .three_img_block {
     text-align: center;
     vertical-align: middle;
     padding-top: 49px;
      }


      .grid_Text {
        height: 450px;
        width: 100%;
        margin-top: 40px;
        padding-left: 30px;

      }

    .grid_container {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px;
    }

    .grid_container img {
     height: 196px;
     width: 270px;
    }

    .blend {
      background-image: url('https://media.gettyimages.com/photos/great-western-railway-castle-class-steam-locomotive-7029-clun-castle-picture-id930165980?s=2048x2048');
      height: 405px;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
    }

    .vertical_image1_0 {
    background-image: url('https://i.pinimg.com/564x/3d/f5/be/3df5be8a1fcaaa592f96267122a801bc.jpg');
    background-position: center;
    width: 40%;
    height: 100%;
    display: inline-block;
    margin-left: 25px;
    background-size: cover;
  }
  .vertical_image2_0 {
    background-image: url('https://i.pinimg.com/564x/20/37/51/203751ea9e56b372e6440fef5a82264a.jpg');
    background-position: center;
    width: 40%;
    height: 100%;
    display: inline-block;
    margin-left: 15px;
    background-size: cover;
  }

  @keyframes moveit {
        from {right: 50%;}
        to {right: 0%;}
       }
@keyframes moveit1 {
        from {bottom: 50%;}
        to {bottom: 0%;}
         }
@keyframes moveit2 {
        from {left: 50%;}
        to {left: 0%;}
       }
@keyframes moveit3 {
        from {top: 50%;}
        to {top: 0%;}
    }